/* menu direita */

.menu-direita{
    width: 100%;
    max-width: 336px;
}

.menu-direita .box-search{
    width: 100%;
    background-color: #15181C;
    padding: 12px;

    display: flex;
    gap: 18px;

    border-radius: 20px;
}

.menu-direita .box-search input{
    background-color: #15181C;
    border: 0;
    color: white;
    width: 100%;
}

/* noticias */

.container-news{
    margin: 16px 0;
}

.news{
    background-color: #15181C;
    border-radius: 20px;
    padding: 16px 0;
}

.news h2{
    color: white;
    font-size: 1.125rem;
    font-weight: 900;
    margin: 0 0 16px 16px;
}

.news .line{
    border: 1px solid #2F3336;
    width: 100%;
    margin: 17px 0;
}

.news .box-news{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 16px;

    width: calc(100% - 30px);
    margin: 0 auto;
}

.news .box-news .news-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news .box-news p{
    color: #6E767D;
    font-size: 0.875rem;
}

.news .box-news strong{
    color: white;
}

.news .box-news span{
    color: #1DA1F2;
}

.news .box-news .news-img img{
    border-radius: 10px;
}

/* sugestões para seguir */

.container-follow{
    padding: 16px 0;
    background-color: #15181C;
    border-radius: 20px;
}

.menu-direita .container-suggestions .title-suggestions h2{
    color: white;
    font-size: 1.125rem;
    margin: 0 0 16px 16px;
}

.container-suggestions .line{
    border: 1px solid #2F3336;
    width: 100%;
    margin: 17px 0;   
}

.container-suggestions .box-suggestions .profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 304px;
    margin: 0 auto;
}

.container-suggestions .box-suggestions .profile 
.info-profile p{
    color: white;
    font-size: 0.875rem;
}

.container-suggestions .box-suggestions .profile 
.info-profile span{
    color: #6E767D;
    font-size: 0.875rem;
}

.container-suggestions .box-suggestions .profile 
.btn-follow{
    padding: 8px 24px;
    border: 1px solid #1DA1F2;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;

    color: #1DA1F2;
    font-size: 0.75rem;
}

.container-suggestions .box-suggestions .box-profile{
    display: flex;
    align-items: center;
    gap: 8px;
}